{% extends 'inspection/base.html' %}
{% block title %}About Us{% endblock %}


{% block content %}
<div class="content">
    <div class="col col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="col-xs-4 col-md-2 no-padding">
        <figure>
            <img src="/static/inspection/img/jordan.jpg" alt="Company owner portrait" id="owner-img">
            <figcaption class="font-small">Jordan Davignon - CEO</figcaption>
            </figure>
    </div>
    <div class="col-xs-8 col-md-10">
        <h2>Iron Lantern Inspections Inc.</h2>
        <hr/>
        <br/>
        </div>
    <div class="col-xs-12 col-md-10 ">
        <p>
            Iron Lantern Inspections Inc. 8470260 was founded in Ottawa, April 2013. We strive to provide qualitative and quantitive assessments of design and repair options. Our technical report are perectly suited to best advise clients on potential investments. 
        </p>
        <p>
            Our team of professional engineers have experience with evaluating exterior cladding, wall envelopes, waterproofing systems; design of steel, concete, masonry and timber structures. Our quality and informative technical reports communicate investigation findings and help our clients make technical and investment decisions. We can also review construction documents and provide drawings and specification requirements. 
        </p>
        <p> 
            Iron Lantern Inspection has created the most thorough and user friendly walkthorugh app to help home owners project future costs and investments, to help home buyers evaluate new properties, to help real estate agents review properties and create ads, as well as providing a comprehensive walkthrough for professioanl home inspectors.</p>
    </div>
            <div class="col-xs-12 gutter-top gutter-bottom text-center"><a href="/dashboard"><button class="gutter-top gutter-bottom col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 btn btn-red"><h2 class="no-margin">Try our app today!</h2></button></a></div>
</div>
{% endblock %}
