{% extends 'inspection/base.html' %} 
{% block title %}Account Balance{% endblock %} 
{% block content %}
<div class="col col-xs-12 col-sm-8 col-sm-offset-2 text-center">
  <div class="content">

    <!-- LEFT NAV -->
    <div class="col-xs-12 col-sm-5 col-md-4 text-center">
      <ul class="text-left list-group gutter-top">
        <div class="col-xs-10 pull-left no-padding">
          <li class="list-group-item vnav-item"><a href="/profile"><h5>User Details</h5></a>
            <hr class="no-margin">
          </li>
        </div>
        <div class="col-xs-10 pull-left no-padding">
          <li class="list-group-item vnav-item"><a href="/payment_info"><h5>Payment Information</h5></a>
            <hr class="no-margin">
          </li>
        </div>
        <div class="col-xs-10 pull-left no-padding">
          <li class="list-group-item vnav-item"><a href="/account_balance"><h5>Bills/Account Balance</h5></a>
            <hr class="no-margin">

          </li>
        </div>
        <div class="col-xs-10 pull-left no-padding">
          <li class="list-group-item vnav-item"><a href="/myreports"><h5>Saved Reports</h5></a>
            <hr class="no-margin">
          </li>
        </div>
      </ul>
    </div>
    <!-- /LEFT NAV -->

    <!-- CONTENT AREA -->
    <div class="col col-xs-12 col-sm-8 col-sm-offset-1 col-md-7">
      <h3>TODO</h3>
    </div>
    <!-- /CONTENT AREA -->
  </div>
</div>
{% endblock %}
