{% extends 'inspection/base.html' %}
{% block title %}Index{% endblock %}


{% block content %}
<div id="rooms-wrapper" class="content">

  <div class="col col-xs-12 text-center">

    <div class="col" id='header'></div>
    <div id="contractor_form">
      <h1>ROOMS</h1>
      <form name="profile" method='get'>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="dngRm" class="btn roomSelect thumbnail">
              <div class="color-overlay"></div>
            <h3 class="roomTitle">Dinning Room</h3>
          </div>
        </div><div class="col-xs-12 col-sm-6 col-md-3">
          <div id="lvngRm" class="btn roomSelect thumbnail">
              <div class="color-overlay"></div>
            <h3 class="roomTitle">Living Room</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="lndrRm" class="btn roomSelect thumbnail">
              <div class="color-overlay"></div>
            <h3 class="roomTitle">Laundry Room</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="kitchen" class="btn roomSelect thumbnail">
              <div class="color-overlay"></div>
            <h3 class="roomTitle">Kitchen</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="bathroom" class="btn roomSelect thumbnail">
              <div class="color-overlay"></div>
            <h3 class="roomTitle">Bathroom</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="garage" class="btn roomSelect thumbnail">
              <div class="color-overlay"></div>
            <h3 class="roomTitle">Garage</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="bsmt" class="btn roomSelect thumbnail">
              <div class="color-overlay"></div>
            <h3 class="roomTitle" class="roomTitle">Basement</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="yard" class="btn roomSelect thumbnail">
              <div class="color-overlay"></div>
            <h3 class="roomTitle" class="roomTitle">Yard</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="recRm" class="btn roomSelect thumbnail">
              <div class="color-overlay"></div>
            <h3 class="roomTitle" class="roomTitle">Rec Room</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="deck" class="btn roomSelect thumbnail">
              <div class="color-overlay"></div>
            <h3 class="roomTitle" class="roomTitle">Deck</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="entrance" class="btn roomSelect thumbnail">
              <div class="color-overlay"></div>
            <h3 class="roomTitle" class="roomTitle">Entrance</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="otherRm" class="btn roomSelect thumbnail">
              <div class="color-overlay"></div>
            <h3 class="roomTitle" class="roomTitle">Other</h3>
          </div>
        </div>
        <div class="col col-xs-12 text-left">
          <div id="selectedRooms" class="col-xs-8 col-xs-offset-2">
              <table class='table table-hover'>
                <thead>
                  <tr>
                    <td class="page-header" colspan="2">
                        <h4>Report Summary:</h4>
                    </td>
                  </tr>
                </thead>
                <tbody id='resultsBody'>
                  <tr>
                      <td>
                          <label for="lname" class="label" id="lnameLabel">Dinning Room<span id="lnameAlert" class="label label-danger"></span></label>
                          <div>
                              <input type="text" name="roomName" class="form-control" value="Dinning Room 1" onfocus="if(this.value=='Dinning Room 1'){this.value='';}" onblur="if(this.value==''){this.value='Dinning Room 1';}" aria-describedby="basic-addon2">
                              <a href="inspect_room.html">→</a>
                          </div>
                      </td>
                  </tr>
                  
                </tbody>
                <tfoot>  
                  <tr><td class="text-center" colspan='2'>
                     <br/>
                    <a href="inspector.html" id='submitBtn' type='submit' name='submit' class='btn btn-red box-shadow'>Back to Property Info</a>
                      <button id='resetBtn' type='reset' name='reset' class='btn btn-red box-shadow'>Clear Selected</button>
                      <a href="cgi-results.py" class='btn btn-default box-shadow'>View Report</a>
                  </td></tr>
                </tfoot>
             </table>
          </div>  

        </div>
      </form>
    </div>

  </div>

  <script src="scripts/validate.js"></script>
{% endblock %}

  