{% extends 'inspection/base.html' %}
{% block title %}Index{% endblock %}


{% block content %}
<div class="content">
    <div class="col col-xs-12 col-sm-10 col-sm-offset-1">
        <h2 class="text-center">Informational Articles</h2><br/>
        <a href="https://www.nachi.org/articles.htm?nachi_wiki_session=5ea6e5dd0df37836ae06b0fcf42ff774">
           <div class="col-xs-6 card">
                <div class="col-xs-5 col-sm-4">
                    <img src="/static/inspection/img/internachi.png" alt="website logo" class="no-padding article-logo pull-right"/>
                </div>
                <div class="col-xs-7 col-sm-8">
                    <h4>Library of Inspection Articles</h4>
                    <p>InterNACHI</p>
                </div>
           </div>
        </a>
        <a href="https://www.realtor.ca/BuyerInformation.aspx">
           <div class="col-xs-6 card">
                <div class="col-xs-5 col-sm-4">
                    <img src="/static/inspection/img/realtorca.png" alt="website logo" class="no-padding article-logo pull-right"/>
                </div>
                <div class="col-xs-7 col-sm-8">
                    <h4>Realtor.ca</h4>
                    <p>Home Buyers</p>
                </div>
           </div>
        </a>
        <a href="https://www.realtor.ca/SellerInformation.aspx">
           <div class="col-xs-6 card">
                <div class="col-xs-5 col-sm-4">
                    <img src="/static/inspection/img/realtorca.png" alt="website logo" class="no-padding article-logo pull-right"/>
                </div>
                <div class="col-xs-7 col-sm-8">
                    <h4>Realtor.ca</h4>
                    <p>Home Sellers</p>
                </div>
           </div>
        </a>
        <a href="http://mls.com/Home/BuyerSellerInfo.mvc">
           <div class="col-xs-6 card">
                <div class="col-xs-5 col-sm-4">
                    <img src="/static/inspection/img/mls.png" alt="website logo" class="no-padding article-logo pull-right"/>
                </div>
                <div class="col-xs-7 col-sm-8">
                    <h4>MLS.com</h4>
                    <p>Buyer &amp; Seller Information</p>
                </div>
           </div>
        </a>
        <a href="http://www.corelogic.com/products/realquest.aspx">
           <div class="col-xs-6 card">
                <div class="col-xs-5 col-sm-4">
                    <img src="/static/inspection/img/realquest.png" alt="website logo" class="no-padding article-logo pull-right"/>
                </div>
                <div class="col-xs-7 col-sm-8">
                    <h4>Real Quest</h4>
                    <p>Property search, easy than ever</p>
                </div>
           </div>
        </a>
        <a href="https://www.homehardware.ca/en/index/corporate.htm">
           <div class="col-xs-6 card">
                <div class="col-xs-5 col-sm-4">
                    <img src="/static/inspection/img/hh.png" alt="website logo" class="no-padding article-logo pull-right"/>
                </div>
                <div class="col-xs-7 col-sm-8">
                    <h4>HomeHardware</h4>
                    <p>Helping home owners</p>
                </div>
           </div>
        </a>
        <a href="https://www.cmhc-schl.gc.ca/en/co/buho/">
           <div class="col-xs-6 card">
                <div class="col-xs-5 col-sm-4">
                    <img src="/static/inspection/img/cmhc.png" alt="website logo" class="no-padding article-logo pull-right"/>
                </div>
                <div class="col-xs-7 col-sm-8">
                    <h4>Canada Mortgage &amp; Housing Corporation</h4>
                    <p>Buying a home</p>
                </div>
           </div>
        </a>
        <a href="http://www.canadianresidential.com/articles">
           <div class="col-xs-6 card">
                <div class="col-xs-5 col-sm-4">
                    <img src="/static/inspection/img/canadianresidentialinspection.png" alt="website logo" class="no-padding article-logo pull-right"/>
                </div>
                <div class="col-xs-7 col-sm-8">
                    <h4>Canadian Residential Home Inspection</h4>
                    <p>Educational Articles</p>
                </div>
           </div>
        </a>
        
<!--link template
        <a href="">
           <div class="col-xs-6 card">
                <div class="col-xs-5 col-sm-4">
                    <img src="/static/inspection/img/FILENAME.png" alt="website logo" class="no-padding article-logo pull-right"/>
                </div>
                <div class="col-xs-7 col-sm-8">
                    <p>twoLineDescription</p>
                </div>
           </div>
        </a>
-->
    </div>
</div>
{% endblock %}
