{% extends 'inspection/base.html '%}

{% block content %}
<div class="row">
    <div class="col col-xs-12">
        <table>
            <thead>
                <th>Component</th>
                <th>Fault</th>
                <th>Image</th>
            </thead>
            <tbody>
        {% if room.component_set.all %}
            {% for component in room.component_set.all %}
            <tr>
                <td>{{ component.componentName }}</td>
                <td>{{ component.faultDescription}}
            </tr>
            {% endfor %}
            
        {% endif %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}