{% extends 'inspection/base.html' %} {% block title %}Start New Report{% endblock %} {% block content %}
<div class="content">
  <div class="col col-xs-12 col-sm-10 col-sm-offset-1 text-center">
    <div class='col col-xs-12 col-md-6 col-md-offset-3'>
      <!-- SECTION TITLE -->
      <h2>New Home Inspection Report</h2>
      <!-- /SECTION TITLE -->

      <!-- CONTENT AREA -->
      <div class="col-xs-12 text-left">
        <div class="panel-body" id="prop-form-container">
          <!-- REPORT DETAILS -->
          <form id='newPropForm' action="{% url 'inspection:inspector_start' %}" method="POST">

            <!-- SECTION TITLE -->
            <h3>Inspector Details</h3> {% csrf_token %}
            <!-- /SECTION TITLE -->

            <!-- user details -->
            <div id="userDetail" class="text-left">
              <div class="col-xs-10 no-padding">
                <p id="usernameDetail">{{inspectorForm.username}}</p> <!-- #NEED TO READ LOGGED USER FROM DB -->
              </div>
              <div class="col-xs-2 text-right h3 no-padding">
                <a href="/profile/" class="btn btn-default">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
              </div>
              <p class="userDetail">{{inspectorForm.company}}</p> <!-- NEED TO READ LOGGED USER FROM DB -->
            </div>

            <!-- wrapper for converted inputs -->
            <div id="userDetail2" class="text-right">
            </div>
            <!-- /user details -->
            <hr/>
            <!-- SECTION TITLE -->
            <h3>Property Details</h3>
            <!-- /SECTION TITLE -->

            <!-- property form -->
            {{ propForm.as_p }}
            <!-- /property form -->

            <!-- BUTTONS -->
            <div class="col-xs-12 text-center">
              <a href="/room.html">
                <button class="btn btn-default gutter-bottom gutter-top" type="submit" id="newPropBtn">Save &amp; continue</button>
              </a>
              <button id='resetBtn' type='reset' name='reset' class='btn btn-red'>Clear Form</button>
            </div>
            <!-- /BUTTONS -->

          </form>
          <!-- /REPORT DETAILS -->
        </div>
      </div>
      <!-- /CONTENT AREA -->

    </div>
  </div>
</div>

<!-- CONVERT FORM INPUT TO DIV -->
<script>
  $('#userDetail').clone().appendTo('#userDetail2');
  $('#userDetail2 input').replaceWith(function() {
    return $('<div>' + $(this).val() + '</div>');
  });
  $('#userDetail').hide()

</script>
<!-- /CONVERT FORM INPUT TO DIV -->

{% endblock %}
