{% extends 'inspection/base.html' %} 
{% block title %}User Profile{% endblock %} 
{% block content %}
<div class="col col-xs-12 col-sm-8 col-sm-offset-2 text-center">
  <div class="content">
    <div id="contractor_form">
      <h1>User Profile</h1>
      <hr/>
    </div>
    <!-- LEFT NAV -->
    <div class="col-xs-12 col-sm-5 col-md-4 text-center">
      {% load staticfiles %}
      <img src="{% static 'inspection/img/user_image.svg' %}" id="profileImage" alt="">
      <form class="text-left" action="" method="GET">
        Upload Image:
        <btn style="margin-top:5px" class="btn btn-red pull-right inline" type="submit">Upload</btn>
        <input type="file" class="float-left">
      </form>
      <ul class="text-left list-group gutter-top">
        <div class="col-xs-10 pull-left no-padding">
          <li class="list-group-item vnav-item"><a href="/profile"><h5>User Details</h5></a>
            <hr class="no-margin">
          </li>
        </div>
        <div class="col-xs-10 pull-left no-padding">
          <li class="list-group-item vnav-item"><a href="/payment_info"><h5>Payment Information</h5></a>
            <hr class="no-margin">
          </li>
        </div>
        <div class="col-xs-10 pull-left no-padding">
          <li class="list-group-item vnav-item"><a href="/account_balance"><h5>Bills/Account Balance</h5></a>
            <hr class="no-margin">
          </li>
        </div>
        <div class="col-xs-10 pull-left no-padding">
          <li class="list-group-item vnav-item"><a href="/myreports"><h5>Saved Reports</h5></a>
            <hr class="no-margin">
          </li>
        </div>
      </ul>
    </div>
    <!-- /LEFT NAV -->
    
    <!-- CONTENT AREA -->
    <form class="text-left" action="" method="POST">{% csrf_token %} {% for user in users %}
      <div id="profileInformaiton" class="col col-xs-12 col-sm-8 col-sm-offset-1 col-md-7">
        <label for="id_inspectorForm-username" class="label">Username:</label>
        <input class="form-control box-shadow" type="text" value="{{user.username}}">

        <label for="id_inspectorForm-password" class="label">Password:</label>
        <input class="form-control box-shadow" type="text" value="{{user.password}}">

        <label for="id_inspectorForm-phone" class="label">Phone:</label>
        <input class="form-control box-shadow" type="text" value="{{user.phone}}">

        <label for="id_inspectorForm-email" class="label">Email:</label>
        <input class="form-control box-shadow" type="text" value="{{user.email}}">

        <label for="id_inspectorForm-company" class="label">Company:</label>
        <input class="form-control box-shadow" type="text" value="{{user.company}}">

        <label for="id_inspectorForm-description" class="label">Description:</label>
        <input class="form-control box-shadow" type="text" value="{{user.description}}">

        <div class="col-xs-6 no-padding">
          <label for="id_inspectorForm-username">
            <h4>Email Subscription:</h4></label>
          <input class="form-control box-shadow checkbox" type="checkbox" value="{{user.subscriptionStatus}}">
        </div>
        <div class="col-xs-6 no-padding">
          <label for="id_inspectorForm-username">
            <h4>Member:</h4></label>
          <input class="form-control box-shadow checkbox" type="checkbox" value="{{user.memberStatus}}">
        </div>
        {% endfor %}
        <div class="col col-xs-12 text-center">
          <a href="#">
            <button class="btn btn-red inline gutter-bottom gutter-top" type="submit" id="newPropBtn">Save</button>
          </a>
        </div>
      </div>
    </form>
    <!-- /CONTENT AREA -->
    
  </div>
</div>
{% endblock %}
