*{
    margin: 0;
    bottom: 0;
}

.mb-1{
    margin-bottom: 1rem;
}

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20px !important;
}

.toggle.ios .toggle-handle { 
    border-radius: 20px; 
}