{% if property.room_set.all %}

    {% for room in property.room_set.all %}
    <li class="list-group-item">
        <div class="row">
            <div class="col col-xs-9">
                <a href='#' class="xeditable-text" 
                data-pk="{{room.id}}" 
                data-name="roomName" 
                data-url="{{request.path}}"
                data-title="room's name">{{room.roomName}}</a>
            </div>
            <div class="col col-xs-3">
                <a href="{{request.path}}{{room.id}}" class="btn btn-primary" style="width: 37px;">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <button data-url="{% url 'inspection:deleteRoom' property.id room.id %}" class="btn btn-danger deleteRoom">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <a href="#" class="btn btn-warning" style="width: 37px;">
                    <i class="fa fa-clone" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}

{% else %}
<h3>Currently, you don't have any room</h3>
{% endif %}