//----------------------//
//       VARIABLES      //
//----------------------//
$font-light: #aaa;
$font-dark: #333;
$gutter:20px;
$gutterLRG:50px;
$darkgrey: #111;
$lightgrey: #222;
$offwhite: #babbbb;

//----------------------//
//        COLORS        //
//----------------------//
* {
    color:$font-light
}
html {
    position:relative;
    min-height:100vh        
}
#nav-popupWrapper-inner > li.hidden-xs.popup-link.dropdown.open li a{
    padding-top:0;
    padding-bottom:0;
}
#nav-popupWrapper-inner h5{
    color:$font-dark;
    padding:$gutter $gutter/2;
    margin:0 !important;
    &:hover{
    background:$offwhite
    }
}
#includeHead,#copyright{
    background:$lightgrey;
    color:$font-light
}
.label {
    color:grey !important;
    margin: $gutter 0 0 0 !important
}
#homepage-features div.btn{
    box-shadow:0 5px 20px $lightgrey;
    &:active{
        box-shadow:none
    }
}
#homepage-features div.btn h4 strong{
    color:$font-dark;
}
.list-group-item {
    background:transparent !important
}
.well {
    background-color:$offwhite !important
}
.well h2 {
    color:$font-dark
}
.well p{
    color:$font-dark
}
footer a{
    color:$font-light
}
#footer-topbar{
    background-image: url("/img/bg-tile.jpg");
}
footer{
    padding-top:$gutterLRG
}
#horznav{
    a {
        color:$font-light;
        &:hover,&:focus{
            color:$font-dark
        }
    }
}
#horznav li li a {
    color:$font-light
}
.box-shadow {
    box-shadow:0 10px 20px black
}
.big-shadow {
    box-shadow:0 0 30px black !important
}

#logo-tab:hover{
    background-color:transparent;
}
.navbar-default {
    background:transparent !important
}

.carousel-caption{
    background:rgba(0,0,0,.7);
    padding:$gutter*2;      
    border-radius:6px;
}
.carousel-caption span{
    margin: 16px 0 10px;          
}
footer{
    background-image: url("/img/bg-tile.jpg");
    color:$font-light
}
.app-btn {
    height:100px;
    width:150px;
    margin:$gutter*2 auto;
    padding:$gutter*1.5 $gutter !important;
    background:black;
    box-shadow: 0 0 20px black;
    border:1px outset #666 !important;
    &:hover{
        background:$font-light;
        color:$darkgrey !important
    }
}

#homepage-features h2 {
    text-shadow: 0 2px 5px $lightgrey
}


//----------------------//
//         FONTS        //
//----------------------//
.roomTitle {
    color:white !important;
    margin:10px !important;
    text-shadow: 0 0 5px #000;
}


//----------------------//
//        LAYOUT        //
//----------------------//
//--BODY
body{
    margin:0;
    padding:0
}
#includeHead,#includeMain,#includeFoot{
    padding-left:0 !important;
    padding-right:0 !important
}
.inline{
    display:inline !important
}
//--TAGS
//--HEAD
#includeHead{
    z-index:5;
    padding:$gutter 0;
}
#includeMain {
    padding-top:$gutter*2
}
#header-login-wrapper{
    position:relative;
}
#horznav-inner > div.nav-brand.col-xs-12.col-sm-1.text-center {
    min-width:49px;
}
#horznav a {
        margin-top:4px;
        padding-bottom:13px
}
.nav-tabs{
    border:none !important
}
.navbar-toggle {
    margin-right:0 !important;
    border:none !important;
}
.nav>li>a{
    min-width:50px;
}
//--CONTENT

#contentMain{
    margin:0;
    padding:0
}
.well {
    position:relative;
    padding:0 !important;
    min-height:616px
}
.well p{
    padding:0 $gutter;
}
.well img{
    border-top-right-radius:3px;
    border-top-left-radius:3px;
}
#inputTable {
    margin-bottom:$gutter * 2
}
//INSPECTOR PROPERTY INFO
#inputTable > div:nth-child(3){
    padding-left:0 !important
}
#inputTable > div:nth-child(4){
    padding-right:0 !important
}
.horizontal-banner {
    margin-top:$gutterLRG
}
//--FOOT
#footer-topbar h2 {
    margin-top:0
}
footer h4 {
    text-shadow: -1px 5px 10px black
}
.thumbnail{
    max-height:108px
}
#footer-topbar {
    height:80px;
    padding:$gutter*2 0 0;
}
//----------------------//
//       STYLING        //
//----------------------//
//--BODY
#includeMain {
    background-image: url("/img/bg-tile.jpg");
}
.list-group-item{
    border:none !important
}
.full {
    width:100%
}
//--TAGS
label {
    text-align:left !important
}
//--HEAD
#header-logo{
    max-width:100%;
    max-height:50px;
}
.home-tab {
    padding: 0 !important;
    border: 0 !important
}
#home-wrapper,#bodyMain,#homeMain{
    min-height:100vh
}
#horznav > div > div.nav-brand.col-xs-2.text-center {
    max-width:48px !important;
}
#header-logo-sm {
    max-height:43px;
}
#horznav-inner,.nav-brand {
    padding: 0 !important;
}
#logo-tab{
    border: none;
    margin:0;
    padding:0 !important
}
//--CONTENT
.content{
    min-height:60vh;
}
.homeBtn{
    height:750px;
    position:relative;
    top:50%;
    transform:translateY(-50%);
    text-shadow: 0 1px 2px rgba(0,0,0,.6)
}
#homepage-features{
    margin-top:$gutterLRG
}
//--FOOT
.small-input {
    width: 100px !important;
    display:inline-block !important;
}
.inputfile {
    display:none
}
.carousel-inner img {
    width:100%
}
.divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-left: 1px solid #dfdfdf;
}
#copyright{
    padding:$gutter;
    box-shadow:0 -10px 20px black
}
#copyright-logo{
    height:20px;
    padding-right:$gutter
}
#footer-topbar div div{
    padding:$gutter;
}
#footer-topbar > h4 > div {
    margin:0 auto;
    height:30px !important;   
    width:30px !important;
    border:3px solid rgba(255,255,255,.2);
    border-radius:50%;  
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
#nav-popup {
    padding-left:0 !important;
}
.home-btn {
    position:absolute !important;
    bottom:$gutter
}

//----------------------//
//      ROOM IMGS       //
//----------------------//
%background-btn {
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position:center
}
#attic{}
#bar{}
#bathroom{
    background-image:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url(/img/rooms/bathroom.jpg);
    @extend %background-btn;
        &:hover{
        background-image:linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)),url(/img/rooms/bathroom.jpg);
    }
}
#bedroom{
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url(/img/rooms/bedroom.jpg);
    @extend %background-btn;
        &:hover{
        background-image:linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)),url(/img/rooms/bedroom.jpg);
    }}
#bkfstNk{
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url(/img/rooms/brkfstNk.jpg);
    @extend %background-btn;
        &:hover{
        background-image:
            linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)),url(/img/rooms/brkfstNk.jpg);
    }
}
#coldRm{}
#deck{}
#dngRm{
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url(/img/rooms/dngRm.jpg);
    @extend %background-btn;
        &:hover{
        background-image:
            linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)),url(/img/rooms/dngRm.jpg);
    }
}
#entrance{
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url(/img/rooms/entrance.jpg);
    @extend %background-btn;
        &:hover{
        background-image:
            linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)),url(/img/rooms/entrance.jpg);
    }
}
#fence{}
#garage{
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url(/img/rooms/garage.jpg);
    @extend %background-btn;
        &:hover{
        background-image:
            linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)),url(/img/rooms/garage.jpg);
    }
        }
#gazebo{}
#genericRm{}
#hallway{}
#kitchen{
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url(/img/rooms/kitchen.jpg);
    @extend %background-btn;
        &:hover{
        background-image:
            linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)),url(/img/rooms/kitchen.jpg);
    }
}
#lvngRm{
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url(/img/rooms/lvngRm.jpg);
    @extend %background-btn;
        &:hover{
        background-image:
            linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)),url(/img/rooms/lvngRm.jpg);
    }
}
#lndrRm{
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url(/img/rooms/lndrRm.jpg);
    @extend %background-btn;
        &:hover{
        background-image:
            linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)),url(/img/rooms/lndrRm.jpg);
    }
        }
#mudRm{}
#mastrBrm{}
#office{}
#otherRm{
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url(/img/rooms/unfinishedBsmt.jpg);
    @extend %background-btn;
        &:hover{
        background-image:
            linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)),url(/img/rooms/unfinishedBsmt.jpg);
    }
}
#porch{}
#prvcScrn{}
#prmtrWll{}
#pwdrRm{}
#recRm{
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url(/img/rooms/recRm.jpg);
    @extend %background-btn;
        &:hover{
        background-image:
            linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)),url(/img/rooms/recRm.jpg);
    }
}
#sauna{}
#shed{}
#solarium{}
#strgRm{}
#veranda{}
#unfinishedBsmt{}
#utlRm{
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),url(/img/rooms/utilityRm.jpg);
    @extend %background-btn;
        &:hover{
        background-image:
            linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)),url(/img/rooms/utilityRm.jpg);
    }
        }
#wrkRm{}


//------------------------- BOOTSTRAP ADDONS --------------------------//

// button-clear addon
button {background-color:none!important}
.btn {white-space: normal !important}
.btn-clear{background-color:rgba(0,0,0,.5) !important}
.btn-clear.focus,.btn-clear:focus{color:#333;background-color:#e6e6e6;border-color:#8c8c8c}
.btn-clear:hover{color:$font-dark;background-color:rgba(255,255,255,.5) !important;border-color:#adadad}
.btn-clear.active,.btn-clear:active,.open>.dropdown-toggle.btn-clear{color:#333;background-color:#e6e6e6;border-color:#adadad}
.btn-clear.active.focus,.btn-clear.active:focus,.btn-clear.active:hover,.btn-clear:active.focus,.btn-clear:active:focus,.btn-clear:active:hover,.open>.dropdown-toggle.btn-clear.focus,.open>.dropdown-toggle.btn-clear:focus,.open>.dropdown-toggle.btn-clear:hover{color:#333;background-color:#d4d4d4;border-color:#8c8c8c}
.btn-clear.active,.btn-clear:active,.open>.dropdown-toggle.btn-clear{background-image:none}
.btn-clear.disabled.focus,.btn-clear.disabled:focus,.btn-clear.disabled:hover,.btn-clear[disabled].focus,.btn-clear[disabled]:focus,.btn-clear[disabled]:hover,fieldset[disabled] .btn-clear.focus,fieldset[disabled] .btn-clear:focus,fieldset[disabled] .btn-clear:hover{background-color:#fff;border-color:#ccc}
.btn-clear .badge{color:#fff;background-color:#333}


 // 1024 ************** desktop↑
@media only screen and (min-width:1024px){
    .well {
    min-height:640px;
    }

}
 // 1024 ************** desktop↓
@media only screen and (max-width:1024px){
    .well {
    min-height:730px;
    }

}
 // 800 ************** small desktop↓
@media only screen and (max-width:824px){
    .well {
    min-height:785px;
    }

}
// bootstrap MD ************** Tablet↑
@media only screen and (min-width:692px){
    .roomSelect {
        padding:30px !important;
    }
}
 // 768 ************** Tablet↑
@media only screen and (min-width:768px){
    #horznav-inner {
        max-width:500px
    }
} 
// 768 ************** Tablet↓
@media only screen and (max-width:768px){
    #home-wrapper,#homeMain{
    min-height:100vh
    }
    .homeBtn{
    height:90%;
    }
    .homeCol{
        height:31.5vh
    }
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
    .popup-link {
        width:100%;
        text-align:left;
    }
    #homepage-app-btns{
        padding-bottom:$gutterLRG
    }
    #nav-popupWrapper-inner{
        height:97px
    } 
}

// 480 ************** Tablet Mini↓
@media only screen and (max-width:480px){

.icon-bar {
    width:15px !important
}
}
    