* {
  color: #aaa; }

html {
  position: relative;
  min-height: 100vh; }

#nav-popupWrapper-inner > li.hidden-xs.popup-link.dropdown.open li a {
  padding-top: 0;
  padding-bottom: 0; }

#nav-popupWrapper-inner h5 {
  color: #333;
  padding: 20px 10px;
  margin: 0 !important; }
  #nav-popupWrapper-inner h5:hover {
    background: #babbbb; }

#includeHead, #copyright {
  background: #222;
  color: #aaa; }

.label {
  color: grey !important;
  margin: 20px 0 0 0 !important; }

#homepage-features div.btn {
  box-shadow: 0 5px 20px #222; }
  #homepage-features div.btn:active {
    box-shadow: none; }

#homepage-features div.btn h4 strong {
  color: #333; }

.list-group-item {
  background: transparent !important; }

.well {
  background-color: #babbbb !important; }

.well h2 {
  color: #333; }

.well p {
  color: #333; }

footer a {
  color: #aaa; }

#footer-topbar {
  background-image: url("/img/bg-tile.jpg"); }

footer {
  padding-top: 50px; }

#horznav a {
  color: #aaa; }
  #horznav a:hover, #horznav a:focus {
    color: #333; }

#horznav li li a {
  color: #aaa; }

.box-shadow {
  box-shadow: 0 10px 20px black; }

.big-shadow {
  box-shadow: 0 0 30px black !important; }

#logo-tab:hover {
  background-color: transparent; }

.navbar-default {
  background: transparent !important; }

.carousel-caption {
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 6px; }

.carousel-caption span {
  margin: 16px 0 10px; }

footer {
  background-image: url("/img/bg-tile.jpg");
  color: #aaa; }

.app-btn {
  height: 100px;
  width: 150px;
  margin: 40px auto;
  padding: 30px 20px !important;
  background: black;
  box-shadow: 0 0 20px black;
  border: 1px outset #666 !important; }
  .app-btn:hover {
    background: #aaa;
    color: #111 !important; }

#homepage-features h2 {
  text-shadow: 0 2px 5px #222; }

.roomTitle {
  color: white !important;
  margin: 10px !important;
  text-shadow: 0 0 5px #000; }

body {
  margin: 0;
  padding: 0; }

#includeHead, #includeMain, #includeFoot {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.inline {
  display: inline !important; }

#includeHead {
  z-index: 5;
  padding: 20px 0; }

#includeMain {
  padding-top: 40px; }

#header-login-wrapper {
  position: relative; }

#horznav-inner > div.nav-brand.col-xs-12.col-sm-1.text-center {
  min-width: 49px; }

#horznav a {
  margin-top: 4px;
  padding-bottom: 13px; }

.nav-tabs {
  border: none !important; }

.navbar-toggle {
  margin-right: 0 !important;
  border: none !important; }

.nav > li > a {
  min-width: 50px; }

#contentMain {
  margin: 0;
  padding: 0; }

.well {
  position: relative;
  padding: 0 !important;
  min-height: 616px; }

.well p {
  padding: 0 20px; }

.well img {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

#inputTable {
  margin-bottom: 40px; }

#inputTable > div:nth-child(3) {
  padding-left: 0 !important; }

#inputTable > div:nth-child(4) {
  padding-right: 0 !important; }

.horizontal-banner {
  margin-top: 50px; }

#footer-topbar h2 {
  margin-top: 0; }

footer h4 {
  text-shadow: -1px 5px 10px black; }

.thumbnail {
  max-height: 108px; }

#footer-topbar {
  height: 80px;
  padding: 40px 0 0; }

#includeMain {
  background-image: url("/img/bg-tile.jpg"); }

.list-group-item {
  border: none !important; }

.full {
  width: 100%; }

label {
  text-align: left !important; }

#header-logo {
  max-width: 100%;
  max-height: 50px; }

.home-tab {
  padding: 0 !important;
  border: 0 !important; }

#home-wrapper, #bodyMain, #homeMain {
  min-height: 100vh; }

#horznav > div > div.nav-brand.col-xs-2.text-center {
  max-width: 48px !important; }

#header-logo-sm {
  max-height: 43px; }

#horznav-inner, .nav-brand {
  padding: 0 !important; }

#logo-tab {
  border: none;
  margin: 0;
  padding: 0 !important; }

.content {
  min-height: 60vh; }

.homeBtn {
  height: 750px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

#homepage-features {
  margin-top: 50px; }

.small-input {
  width: 100px !important;
  display: inline-block !important; }

.inputfile {
  display: none; }

.carousel-inner img {
  width: 100%; }

.divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-left: 1px solid #dfdfdf; }

#copyright {
  padding: 20px;
  box-shadow: 0 -10px 20px black; }

#copyright-logo {
  height: 20px;
  padding-right: 20px; }

#footer-topbar div div {
  padding: 20px; }

#footer-topbar > h4 > div {
  margin: 0 auto;
  height: 30px !important;
  width: 30px !important;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }

#nav-popup {
  padding-left: 0 !important; }

.home-btn {
  position: absolute !important;
  bottom: 20px; }

#bathroom, #bedroom, #bkfstNk, #dngRm, #entrance, #garage, #kitchen, #lvngRm, #lndrRm, #otherRm, #recRm, #utlRm {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center; }

#bathroom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/bathroom.jpg); }
  #bathroom:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/bathroom.jpg); }

#bedroom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/bedroom.jpg); }
  #bedroom:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/bedroom.jpg); }

#bkfstNk {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/brkfstNk.jpg); }
  #bkfstNk:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/brkfstNk.jpg); }

#dngRm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/dngRm.jpg); }
  #dngRm:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/dngRm.jpg); }

#entrance {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/entrance.jpg); }
  #entrance:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/entrance.jpg); }

#garage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/garage.jpg); }
  #garage:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/garage.jpg); }

#kitchen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/kitchen.jpg); }
  #kitchen:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/kitchen.jpg); }

#lvngRm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/lvngRm.jpg); }
  #lvngRm:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/lvngRm.jpg); }

#lndrRm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/lndrRm.jpg); }
  #lndrRm:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/lndrRm.jpg); }

#otherRm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/unfinishedBsmt.jpg); }
  #otherRm:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/unfinishedBsmt.jpg); }

#recRm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/recRm.jpg); }
  #recRm:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/recRm.jpg); }

#utlRm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/utilityRm.jpg); }
  #utlRm:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/utilityRm.jpg); }

button {
  background-color: none !important; }

.btn {
  white-space: normal !important; }

.btn-clear {
  background-color: rgba(0, 0, 0, 0.5) !important; }

.btn-clear.focus, .btn-clear:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c; }

.btn-clear:hover {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-color: #adadad; }

.btn-clear.active, .btn-clear:active, .open > .dropdown-toggle.btn-clear {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.btn-clear.active.focus, .btn-clear.active:focus, .btn-clear.active:hover, .btn-clear:active.focus, .btn-clear:active:focus, .btn-clear:active:hover, .open > .dropdown-toggle.btn-clear.focus, .open > .dropdown-toggle.btn-clear:focus, .open > .dropdown-toggle.btn-clear:hover {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c; }

.btn-clear.active, .btn-clear:active, .open > .dropdown-toggle.btn-clear {
  background-image: none; }

.btn-clear.disabled.focus, .btn-clear.disabled:focus, .btn-clear.disabled:hover, .btn-clear[disabled].focus, .btn-clear[disabled]:focus, .btn-clear[disabled]:hover, fieldset[disabled] .btn-clear.focus, fieldset[disabled] .btn-clear:focus, fieldset[disabled] .btn-clear:hover {
  background-color: #fff;
  border-color: #ccc; }

.btn-clear .badge {
  color: #fff;
  background-color: #333; }

@media only screen and (min-width: 1024px) {
  .well {
    min-height: 640px; } }
@media only screen and (max-width: 1024px) {
  .well {
    min-height: 730px; } }
@media only screen and (max-width: 824px) {
  .well {
    min-height: 785px; } }
@media only screen and (min-width: 692px) {
  .roomSelect {
    padding: 30px !important; } }
@media only screen and (min-width: 768px) {
  #horznav-inner {
    max-width: 500px; } }
@media only screen and (max-width: 768px) {
  #home-wrapper, #homeMain {
    min-height: 100vh; }

  .homeBtn {
    height: 90%; }

  .homeCol {
    height: 31.5vh; }

  .navbar-collapse .nav > .divider-vertical {
    display: none; }

  .popup-link {
    width: 100%;
    text-align: left; }

  #homepage-app-btns {
    padding-bottom: 50px; }

  #nav-popupWrapper-inner {
    height: 97px; } }
@media only screen and (max-width: 480px) {
  .icon-bar {
    width: 15px !important; } }

/*# sourceMappingURL=template.css.map */
