footer {
  color: #d1d1d1; }

.label {
  color: grey !important;
  margin: 5px 0 0 0 !important; }

h3 {
  color: white !important;
  margin: 10px !important;
  text-shadow: 0 0  5px #000; }

body, #includeHome, #homeMain {
  margin: 0;
  padding: 0; }

#inputTable {
  margin-bottom: 40px; }

#inputTable > div:nth-child(3) {
  padding-left: 0 !important; }

#inputTable > div:nth-child(4) {
  padding-right: 0 !important; }

#homeMain {
  background-image: url("/img/Beach-House-Interior-And-Exterior-Design-Ideas-To-Inspire-You-2.jpg");
  background-size: cover; }

#home-wrapper, #bodyMain, #homeMain {
  min-height: 100vh; }

.content, .homeCol {
  height: 95vh; }

.homeBtn {
  height: 750px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  color: #d1d1d1; }

.btn {
  white-space: normal !important; }

.roomSelect:after:hover {
  background-color: red; }

#bathroom, #bkfstNk, #dngRm, #entrance, #garage, #kitchen, #lvngRm, #lndrRm, #otherRm, #recRm, #utlRm {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center; }

#bathroom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/bathroom.jpg); }
  #bathroom:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/bathroom.jpg); }

#bkfstNk {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/brkfstNk.jpg); }
  #bkfstNk:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/brkfstNk.jpg); }

#dngRm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/dngRm.jpg); }
  #dngRm:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/dngRm.jpg); }

#entrance {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/entrance.jpg); }
  #entrance:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/entrance.jpg); }

#garage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/garage.jpg); }
  #garage:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/garage.jpg); }

#kitchen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/kitchen.jpg); }
  #kitchen:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/kitchen.jpg); }

#lvngRm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/lvngRm.jpg); }
  #lvngRm:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/lvngRm.jpg); }

#lndrRm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/lndrRm.jpg); }
  #lndrRm:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/lndrRm.jpg); }

#otherRm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/unfinishedBsmt.jpg); }
  #otherRm:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/unfinishedBsmt.jpg); }

#recRm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/recRm.jpg); }
  #recRm:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/recRm.jpg); }

#utlRm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/rooms/utilityRm.jpg); }
  #utlRm:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(/img/rooms/utilityRm.jpg); }

button {
  background-color: none !important; }

.btn-clear {
  background-color: rgba(0, 0, 0, 0.5) !important; }

.btn-clear.focus, .btn-clear:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c; }

.btn-clear:hover {
  color: #2f2f2f;
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-color: #adadad; }

.btn-clear.active, .btn-clear:active, .open > .dropdown-toggle.btn-clear {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.btn-clear.active.focus, .btn-clear.active:focus, .btn-clear.active:hover, .btn-clear:active.focus, .btn-clear:active:focus, .btn-clear:active:hover, .open > .dropdown-toggle.btn-clear.focus, .open > .dropdown-toggle.btn-clear:focus, .open > .dropdown-toggle.btn-clear:hover {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c; }

.btn-clear.active, .btn-clear:active, .open > .dropdown-toggle.btn-clear {
  background-image: none; }

.btn-clear.disabled.focus, .btn-clear.disabled:focus, .btn-clear.disabled:hover, .btn-clear[disabled].focus, .btn-clear[disabled]:focus, .btn-clear[disabled]:hover, fieldset[disabled] .btn-clear.focus, fieldset[disabled] .btn-clear:focus, fieldset[disabled] .btn-clear:hover {
  background-color: #fff;
  border-color: #ccc; }

.btn-clear .badge {
  color: #fff;
  background-color: #333; }

@media only screen and (min-width: 692px) {
  .roomSelect {
    padding: 30px !important; } }
@media only screen and (max-width: 768px) {
  #home-wrapper, #homeMain {
    min-height: 100vh; }

  .homeBtn {
    height: 90%; }

  .homeCol {
    height: 31.5vh; } }

/*# sourceMappingURL=template.css.map */
