{% extends 'inspection/base.html' %} 
{% block title %}
Dashboard
{% endblock %} 
{% block content %}
<div class="content">
  <div class="col col-xs-12 col-sm-10 col-sm-offset-1 text-center">    
     <div class='col col-xs-12 col-md-4'>
      <h2 class="gutter-bottom">New Report</h2>  
      <div class="col-xs-hidden col-sm-12"><hr/></div>
      <div class="col-xs-12">
          <div class="col-xs-6 gutter-top gutter-bottom">
                      <a href="/inspector_start"><div class="btn btn-red col-xs-12 gutter-bottom title-shadow dashboard-report-btn inspector-app-btn">Home Inspection</div></a>
          </div>
          <div class="col-xs-6 gutter-top gutter-bottom">
                  <a href=""><div class="btn btn-red col-xs-12 gutter-bottom title-shadow dashboard-report-btn agent-app-btn">Agent Report</div></a>
          </div>
          <div class="col-xs-6 gutter-top gutter-bottom">
                  <a href=""><div class="btn btn-red col-xs-12 gutter-bottom title-shadow dashboard-report-btn buyer-app-btn">Buyer Report</div></a>
          </div>
          <div class="col-xs-6 gutter-top gutter-bottom">
                  <a href=""><div class="btn btn-red col-xs-12 gutter-bottom title-shadow dashboard-report-btn owner-app-btn">Owner Report</div></a>
          </div>
          
      </div>    
      </div>
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg"><hr/></div>
    <div class='col col-xs-12 col-md-4'>
      <h2 class="gutter-bottom">My Reports</h2>
      <div class="col-xs-hidden col-sm-12"><hr/></div>
      <div class="col-xs-12 text-left">
        <ul class="list-group" id="property-container">
          {% include "inspection/partial/dashboard.partialreports.html" %}
        </ul>

      </div>
    </div>
    
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg"><hr/></div>
    <div class='col col-xs-12 col-md-4'>
      <h2 class="gutter-bottom">User Information</h2>
      <div class="col-xs-hidden col-sm-12"><hr/></div>

      <div class="text-left">
        <!-- { --><!--  % include "inspection/partial/dashboard.partialusers.html" % --><!-- } -->
        <div class="col-xs-10"><h3>Eric Davignon</h3></div>
               <div class="col-xs-2 pull-right h3">
                <a href="/profile/" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
</div>
        <p>Iconopower Ltd.</h4>
        <p>eric.davignon@iconopower.com</h4>
        <p>••••••••</input>
        <p><span class="glyphicon glyphicon-ok"></span> Newsletter Subscription</h4>
        <p><span class="glyphicon glyphicon-ok"></span> Other Setting</h4>
      </div>
</div>
   <div class="col-xs-12 text-center gutter-top-lg gutter-bottom">
                <button class="btn btn-red" id="logout">
                    <span class="glyphicon glyphicon-log-out"><h4 class="inline"> Logout</h4></span>
                </button>
    </div>
  </div>
  <script src="scripts/validate.js"></script>
</div>
{% endblock %}
