{% extends 'inspection/base.html' %}
{% block title %}Index{% endblock %}


{% block content %}
<div class="row">
    <!-- FORM -->
    <div class="col col-sm-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <input id="toggle-add-new" type="checkbox"  checked>
            </div>
            <div class="panel-body" id="prop-form-container">
                <form id='newPropForm' action="{% url 'inspection:index' %}" method="post">
                    {% csrf_token %}
                    {{ ownerForm.as_p }}
                    {{ propForm.as_p }}
                    <button class="btn btn-primary" type="button" id="newPropBtn">Save &amp; continue</button>
                </form>
            </div>
        </div>
    </div>

    <!-- CREATED PROPERTY (only available when logged in) -->
    
    <div class="col col-sm-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>#Logged_In_Inspector</h3>
            </div>
            <ul class="list-group" id="property-container">
                {% include "inspection/partial/index.partial.html" %}
            </ul>
            
        </div>
    </div>
</div>
{% endblock %}


