{% extends 'inspection/base.html' %}
{% block title %}Index{% endblock %}


{% block content %}
<div class="content">
    <div class="col col-xs-12 col-sm-6 col-sm-offset-3">
         <h2>Logged Reports</h2>
              <div class="col-xs-12 text-left">
            <ul class="list-group" id="property-container">
                {% include "inspection/partial/dashboard.partial.html" %}
            </ul>
            
        </div>
      </div>
    </div>
</div>
{% endblock %}
